{% extends "frontpage/basic_template.html" %}

{% block bodytag %}
<body class="bg-info">
{% endblock %}

{% block content %}
<div class="container container-fluid d-flex justify-content-center">
    <h1 class="display-4 text-light">Events</h1>
</div>

<body class="text-white bg-dark">
    <div class="container-fluid d-flex justify-content-center col-md-11">
        <div class="card m-4 w-100">
            <h3 class="card-header text-center">Community Calendar</h3>
                <iframe class="container-fluid d-flex justify-content-center" id="18101687" src="https://www.google.com/calendar/embed?src=en.usa%23holiday@group.v.calendar.google.com&amp;color=%23668CD9&amp;src=hsumd.org@gmail.com&amp;color=%23D96666&amp;mode=MONTH&amp;ctz=America/Los_Angeles&amp;showTitle=0&amp;showNav=1&a    mp;showDate=1&amp;showTabs=1&amp;showCalendars=0&amp;hl=en" title="HSUMD" width="100%" height="600"  frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <div class="row-featurette my-3">
        <div class="text-center my-1 text-white">
            <h4>Interested in renting the building?</h4>
            <a class="btn btn-primary mt-1" href="https://hsumd.org/files/documents/hsumd-rental-pkg.pdf" target="_blank" download="hsumd-rental.pdf" role="button">Download Rental Agreement</a>
        </div>
    </div>
</body>

{% endblock %}
