{% extends "frontpage/basic_template.html" %}

{% block content %}
<body class="bg-info">
    <div class="container-fluid pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <!-- Disabled due to COVID-19 <li class="breadcrumb-item"><a href="{% url 'events' %}">Events</a></li> -->
            <li class="breadcrumb-item">Events</li>
            <li class="breadcrumb-item active" aria-current="page">Upcoming</li>
            </ol>
        </nav>
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <div class="container card py-3">
            {% for event in event_list %}
            {% if event.current is True %}
            <div class="card mb-4">
                <div class="card-header">
                    {% if event.date %}
                    <h4 class="card-title text-center">{{ event.date|date:'F j, Y' }} @ {{ event.time }}</h4> 
                    {% else %}
                    <h4 class="card-title text-center"></h4> 
                    {% endif %}
                </div>
                <img class="card-img-top" src="{{ event.image  }}" alt="crd-image">
                <div class="card-body">
                    <h3 class="card-text">{{ event.name }}</h3>
                    <p class="card-text">{{ event.summary|linebreaks }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}
