{% extends "frontpage/basic_template.html" %}

{% block content %}
<body class="bg-info">

        <div class="container container-fluid d-flex justify-content-center">
            <h1 class="display-4 text-light">Events</h1>
        </div>

    <div class="d-flex justify-content-center">
        <div class="row container-fluid justify-content-center">
            <div class="card-deck">
            {% if section_list %}
            {% for section in section_list %}
                <div class="card">
                <img class="card-img-top" src="{{ section.image }}" alt="card-image">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ section.title }}</h5>
                        <p class="card-text">{{ section.description }}</p>
                        <a href="{{ section.url }}" class="btn btn-primary">View</a>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="container-fluid d-flex justify-content-center">
                <p class="text-light">There are no sections to display.</p>
            </div>
            {% endif %}
            </div>
        </div>
    </div>

</body>
{% endblock %}
