.body-image {
    background-image: url("https://hsumd.org/files/frontpage/owens-peak.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 200vh; 
    background-color: #5986B4;
}

.jumbotron-nocolor {
    background-color: transparent;
    height: 40%;
}

.text-outline {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.feature-icon {
    font-size: 3em; 
}
