html {
    height: 100vh;
}

body {
    background-image: url(https://hsumd.org/files/page-backgrounds/IMG_1877.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.transparent {
    background-color: transparent;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}