<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap customizations -->
    <link rel="stylesheet" href="https://hsumd.org/files/supporting-files/bootstrap.epic.css">
    {% block custom-css %}
    {% endblock %}

    <title>Historical Society of the Upper Mojave Desert</title>
</head>
{% block bodytag %}
<body>
{% endblock %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{% url 'index'%}#">HSUMD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Archives
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'archives'%}buildings">Historic Buildings</a>
            <a class="dropdown-item" href="{% url 'archives'%}maps">Maps</a>
            <a class="dropdown-item" href="{% url 'archives'%}videos">Videos</a>
          </div>
        </li>
        <!-- Disabled calendar due to COVID-19
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'events'%}upcoming">Upcoming</a>
            <a class="dropdown-item" href="{% url 'events'%}calendar">Calendar</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events'%}upcoming">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'newsletters'%}">Newsletters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lifemembers'%}">Life Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus'%}">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  {% block footerclass %}
  <footer class="page-footer font-small navbar-dark bg-info stylish-color-dark">
  {% endblock %}
    <div class="container footer-copyright text-center py-3">
      <span class="text-muted">&copy; 2018 Historical Society of the Upper Mojave Desert</span>
    </div>
  </footer>
  </body>
</html>
