{% extends "frontpage/basic_template.html" %}

{% block custom-css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock %}

{% block content %}
<body class="text-white bg-info body-image">
    <div class="album">
    <div class="container-fluid py-5 bg-info mx-auto">
        <h2 class="text-center">We'd love to hear from you!</h2>
        <div class="container py-5 mx-auto col-md-10 offset-md-1">
        <div class="row">
        {% for card in contactcards %}
            <div class="col-md-4 my-2">
            <div class="card text-dark mb-4 shadow h-100 bg-secondary">
                <div class="card-body align-middle text-center text-light">
                    <h3 class="card-heading text-center">{{ card.heading }}</h2>
                    <i class="{{ card.icon }} p-4 feature-icon"></i>
                    <p class="lead text-center">{{ card.sub_heading }}</p>
                </div>
            </div>
            </div>
        {% endfor %} 
        </div>
        </div>
    </div>
    </div>

</body>
{% endblock %}
