{% extends "frontpage/basic_template.html" %}

{% block custom-css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/frontpage.css' %}">
{% endblock %}

{% block content %}
 
  <body class="text-white bg-dark body-image">
    <div class="jumbotron center-block jumbotron-nocolor">
      <h1 class="text-center text-outline display-3">Historical Society<h1>
      <h1 class="text-center text-outline display-5">of the Upper Mojave Desert</h1>
    </div>

    <div class="container-fluid marketing bg-info">
      <div class="row">
        <div class="col-md-10 offset-md-1 justify-content-center py-3">
          <h2 class="text-center">Who We Are</h2>
          <p class="text-center">{{ aboutus.content|linebreaks }}</p>
        </div>
      </div>
    </div>

    <div class="album">
    <div class="container-fluid py-5 bg-info mx-auto">
      <h2 class="text-center">Our Mission</h2>
      <div class="container py-5 mx-auto col-md-10 offset-md-1">
        <div class="row">
        {% for featurette in featurettes %}
          <div class="col-md-4 my-2">
            <div class="card text-dark mb-4 shadow h-100 bg-secondary">
                <div class="card-body align-middle text-center text-light">
                  <h3 class="featurette-heading text-center">{{ featurette.heading }}</h2>
                  <i class="{{ featurette.icon }} p-4 feature-icon"></i>
                  <p class="lead text-center">{{ featurette.sub_heading }}</p>
                </div>
                <div class="align-bottom align-middle text-center pb-4">
                  <a class="btn btn-light text-center " role="button" href="{{ featurette.image_url }}">{{ featurette.url_text }}</a>
                </div>
            </div>
          </div>
        {% endfor %} 
        </div>
      </div>
    </div>
  </div>

    <div class="iframe-container row-featurette pb-4 bg-info" mx-auto align="center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.2005502068514!2d-117.67621378515908!3d35.6227821407836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c16cc5c1953437%3A0x69dbb7a5dfc33991!2s230+W+Ridgecrest+Blvd%2C+Ridgecrest%2C+CA+93555!5e0!3m2!1sen!2sus!4v1517081503689" width="90%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="container mx-auto">
        <p class="text-center pt-5">Support us at no personal cost with</p>
        <div class="container mx-auto col-md-2 offset-md-5">
        <a class href="https://smile.amazon.com/ref=smi_se_dshb_bk_smi">
          <img class="img-fluid" src="https://hsumd.org/files/supporting-files/AmazonSmile_Logo_RGB_white.png" align="center">
        </a>
        </div>
      </div>
    </div>

  </body>

{% endblock %}
