{% extends "frontpage/basic_template.html" %}

{% block custom-css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/lifemembers.css' %}">
{% endblock %}

{% block bodytag %}
<body class="bg-info">
{% endblock %}

{% block content %}

    <section class="jumbotron transparent">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5" style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Life Members</h1>
                    <p class="lead" style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                        The board have bestowed life membership on the following members who have supported HSUMD in sustained and special ways.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="container d-flex justify-content-center">
                        <table class="strokeme" style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                            <tbody>
                                {% for member in members %}
                                <tr>
                                    <td>{{ member }}</td>
                                </tr>
                                {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section> 
{% endblock %}

{% block footerclass %}
<footer class="footer page-footer font-small bg-info mt-4">
{% endblock %}
