{% extends "frontpage/basic_template.html" %}

{% block content %}
<body class="bg-info">
    <div class="container container-fluid d-flex justify-content-center">
        <h1 class="display-4 text-light">Newsletters</h1>
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <div class="container card py-3">
            {% if newsletter_list %}
            {% for newsletter in newsletter_list %}
            {% if forloop.first %}<div class="flex-row d-flex flex-wrap justify-content-center">{% endif %}
            <div class="card text-center m-4" style="width: 18rem;">
                <h5 class="card-header">{{ newsletter.name }}</h5>
                <img class="card-img-top" src="{{ newsletter.image }}" alt="image cap">
                <div class="card-footer text-muted">
                    <a href="{{ newsletter.url }}" target="_blank" class="btn btn-primary">Download</a>
                </div>
            </div>
            {% if forloop.last %}</div>{% endif %}
            {% endfor %}
            {% else %}
                <p>There are no newsletters to display.</p>
            {% endif %}
            <div class="card-footer text-muted">
                <div class="pagination d-flex justify-content-center">
                    <span class="page-links">
                    {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="btn btn-primary btn-sm fa fa-angle-left"></a>
                    {% else %}
                    <button class="btn btn-secondary btn-sm fa fa-angle-left" disabled></button>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-sm fa fa-angle-right"></a>
                    {% else %}
                    <button class="btn btn-secondary btn-sm fa fa-angle-right" disabled></button>
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
