{% extends "frontpage/basic_template.html" %}

{% block content %}
<body class="bg-info">
    <div class="container-fluid pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'archives' %}">Archives</a></li>
            <li class="breadcrumb-item active" aria-current="page">Historic Buildings</li>
            </ol>
        </nav>
    </div>

    {% if imagecollection_list %}
    {% for collection in imagecollection_list %}
    <div class="container-fluid d-flex justify-content-center py-3">
        <div class="container card py-3">
            <h3 class="card-header text-center">{{ collection.name }}</h3>
            <div class="album">
                <!-- <div class="container py-5 mx-auto"> -->
                    <div class="row justify-content-center">
                        {% for image in collection.image_set.all %}
                        <div class="col-md-6 my-2">
                            <div class="card box-shadow h-100">
                                <img class="card-img-top" img src="{{ image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text text-center">{{ image.caption }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %} 
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>There are no newsletters to display.</p>
    {% endif %}
    </div>
    {% endblock %}
</body>
