{% extends "frontpage/basic_template.html" %}

{% block content %}
<body class="bg-info">

    <div class="container container-fluid d-flex justify-content-center">
        <h1 class="display-4 text-light">Archives</h1>
    </div>

    <div class="album">
        <div class="container py-5 mx-auto col-md-10 offset-md-1">
            <div class="row">
            {% if collection_list %}
            {% for collection in collection_list %}
            <div class="col-md-4 my-2">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ collection.image }}" alt="card-image">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ collection.title }}</h5>
                        <p class="card-text">{{ collection.description }}</p>
                        <a href="{{ collection.url }}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="container-fluid d-flex justify-content-center">
                <p class="text-light">There are no collections to display.</p>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
