{% extends "frontpage/basic_template.html" %}

{% block content %}
<body class="bg-info">
    <div class="container-fluid pt-3">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'archives' %}">Archives</a></li>
          <li class="breadcrumb-item"><a href="{% url 'maps' %}">Maps</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ map.title }}</li>
          </ol>
      </nav>
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <div class="container card py-3">
            <div class="card-body">
                <h3 class="card-title" align="center">{{ map.title }}</h3>
                <hr class="featurette-divider" style="width: 80%">
                <p><strong>Location:</strong> {{ map.location }}</p>
                <p><strong>Origin Date:</strong> {{ map.origin_date }}</p>
                <p><strong>Type:</strong> {{ map.map_type }}</p>
                <p><strong>Number of Copies:</strong> {{ map.number_of_copies }}</p>
                <p><strong>Notes:</strong> {{ map.notes }}</p>
            </div>
        </div>
    </div>

</body>
{% endblock %}

{% block footerclass %}
<footer class="fixed-bottom page-footer font-small navbar-dark bg-info stylish-color-dark mt-4">
{% endblock %}

