{% extends "frontpage/basic_template.html" %}

{% block content %}
<body class="bg-info">
    <div class="container-fluid pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'archives' %}">Archives</a></li>
            <li class="breadcrumb-item active" aria-current="page">Maps</li>
            </ol>
        </nav>
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <div class="container card py-3">
            <div class="card-body">
                <h3 class="card-title" align="center">Maps</h3>
                <form action="{% url 'maps' %}" method="GET" accept-charset="utf-8">
                    <div class="form-row justify-content-center d-flex flex-nowrap">
                        <input class="form-control input-sm col-md-5 search-query" name="q" type="text" placeholder="Search">
                        <button type="submit" class="btn btn-primary mb-6 fa fa-search"></button>
                    </div>
                </form>
                </br>
                {% if map_list %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover" >
                        <tbody>
                            <tr>
                                <th>Title</th>
                                <th>Origin Date</th>
                            </tr>
                        {% for map in map_list %}
                        <tr>
                            <td><a href="{{ map.get_absolute_url }}">{{ map.title }}</a></td>
                            <td>{{ map.origin_date }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p>There are no maps to display.</p>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                <div class="pagination d-flex justify-content-center">
                    <span class="page-links">
                    {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="btn btn-primary btn-sm fa fa-angle-left"></a>
                    {% else %}
                    <button class="btn btn-secondary btn-sm fa fa-angle-left" disabled></button>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-sm fa fa-angle-right"></a>
                    {% else %}
                    <button class="btn btn-secondary btn-sm fa fa-angle-right" disabled></button>
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}
