{% extends "frontpage/basic_template.html" %}

{% block content %}
<body class="bg-info">
    <div class="container-fluid pt-3">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'archives' %}">Archives</a></li>
          <li class="breadcrumb-item"><a href="{% url 'videos' %}">Videos</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ video.title }}</li>
          </ol>
      </nav>
    </div>

    <div class="col-md-6 container-fluid d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ video.url }}" allowfullscreen></iframe>
                </div>
                <h4 class="card-title">{{ video.title }}</h4>
                <h5 class="card-title">{{ video.subtitle }}</h5>
                <p class="card-text">{{ video.description|linebreaks }}</p>
            </div>
        </div>
    </div>

</body>
{% endblock %}

{% block footerclass %}
<footer class="page-footer font-small navbar-dark bg-info stylish-color-dark mt-4">
{% endblock %}
