{% extends "frontpage/basic_template.html" %}

{% block content %}
<body class="bg-info">
    <div class="container-fluid pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'archives' %}">Archives</a></li>
            <li class="breadcrumb-item active" aria-current="page">Videos</li>
            </ol>
        </nav>
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <div class="container card py-3">
            {% if video_list %}
            {% for video in video_list %}
            <div class="card my-4">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <a href="{{ video.get_absolute_url }}">
                            <img src="{{ video.image }}" class="image-fluid w-100 px-3 my-3">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="card-block mx-auto px-3 justify-content-center">
                            <h4 class="card-title">{{ video.title }}:</h4>
                            <h5 class="card-title">{{ video.subtitle }}</h5>
                        </div>
                    </div>
                    <div class="col-md-2 px-3 my-3 text-center">
                        <a href="{{ video.get_absolute_url }}" class="btn btn-primary btn-lg">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-light">There are no videos to display.</p>
            {% endif %}
        </div>
    </div>

</body>
{% endblock %}
